#main-section {
  width: 70%;
  float: right;
  margin: auto;
}

h2 {
  font-weight: 400;
  font-size: 2em;
}

@media (max-width: 768px) {
  #main-section {
    width: 95%;
    padding-left: 0;
  }
}
