.education {
  line-height: 1.4em;
  display: inline;
}

.education li {
  font-size: 1.2em;
}

.education-details {
  display: flex;
}

.education-info {
  width: 70%;
}

.uni {
  font-weight: 600;
}

@media (max-width: 768px) {
  .education {
    display: block;
  }

  .education-info {
    width: 100%;
  }

  .education-img {
    display: none;
  }
}
