#sidebar {
  background-color: #1f1f1f;
  width: 25%;
  float: left;
  height: 100vh;
  position: fixed;
  padding-top: 20px;
  text-align: center;
  color: #f4f4f4;
}

#sidebar > img {
  border-radius: 100px;
}

#sidebar h2 {
  color: #c4c4c4;
  font-weight: 400;
}
